<div class="container p-4">
   

    <div class="card bg-light text-white">
<div align="center">
      <img src="assets/images/perros.png" class="card-img" alt="assets/images/perros.png" style="width: 60%;height: 100%;">
</div>
      <div class="card-img-overlay">
        <h5 class="card-title"></h5>
       
      
      </div>
    </div>
    
        <div class="col-md-8">
          <div class="card-body">
          </div>
          <h1>Objetivo</h1>
            <p style=text-align:justify class="card-text">En "Adopt a Friend" nuestro principal objetivo es salvar, recuperar, cuidar, proteger, y buscar nuevas vidas a través de la adopción para los animales abandonados. Contamos con un centro de adopción situado en Acambaro donde los animales son atendidos. El plazo de permanencia de los animales en el refugio es indefinido. Puedes contactar con nosotros si deseas adoptar o apadrinar alguno de nuestros perros en adopción. Si los animales no son adoptados, permanecen en el refugio recibiendo los cuidados y atenciones de los voluntarios.</p>
           
         
      </div>
  </div>
