<div class="container p-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/images/cuidado1.png" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Acariciar a tu mascota</h5>
              <p class="card-text">Un trato amoroso es muy aconsejable para la salud de tu mascota. Tómate algún momento del día para compartir con tu perro y consigue un tiempo de calidad. </p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-9" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/images/cuidado1.png" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Hacer ejercicio</h5>
              <p class="card-text"> Emplea unos minutos de tu día para jugar con él, ya sea lanzando una pelota o darle un largo paseo por el parque. </p>
              
            </div>
          </div>
        </div>
      </div>


      <div class="card mb-9" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="./assets/images/cuidado3.png" class="card-img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Visitas al veterinario</h5>
              <p class="card-text"> Dentro de los cuidados que necesita un animal son importantes las visitas regulares al veterinario donde le pongan las vacunas y el chip obligatorio.</p>
              
            </div>
          </div>
        </div>
      </div>
      </div>