<div class="row margen">
    <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <img src=".\assets\images\vacunas.jpg" class="galeria" alt="">
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <img src=".\assets\images\vacunas.jpg" class="galeria" alt="">
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <img src=".\assets\images\vacunas.jpg" class="galeria" alt="">
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <img src=".\assets\images\vacunas.jpg" class="galeria" alt="">
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <img src=".\assets\images\vacunas.jpg" class="galeria" alt="">
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-warning mb-3" style="max-width: 30rem;">
            <div class="card-body">
                <img src=".\assets\images\vacunas.jpg" class="galeria" alt="">
            </div>
          </div>
    </div>
</div>

