<div class="row p-4">
    <div class="col-12 color-title">
        <div align="center">
        <h1><b><i>Perritos en adopción </i></b></h1>
        </div>
    </div>
</div>

        <div class="row">
            
            <div class="col-sm-12 col-md-4 p-2">
                
              <div class="card bg-warning">
                <div class="card-body">
                  <h5 class="card-title text-white">Conoce como cuidar tus mascotas</h5>
                  <a class="btn btn-outline-danger btn-block" routerLink="/cuidadosBasicos">Ir ahora</a>
                </div>
              </div>
              
            </div>
            <div class="col-sm-12 col-md-4 p-2">
                <div class="card bg-warning">
                  <div class="card-body">
                    <h5 class="card-title text-white">Conoce el proceso de adopción</h5>
                    <a class="btn btn-outline-danger btn-block" routerLink="/informes">Ir ahora</a>
                  </div>
                </div>
              </div>
            <div class="col-sm-12 col-md-4 p-2">
              <div class="card bg-warning">
                <div class="card-body">
                  <h5 class="card-title text-white">Conoce los requisitos de adopción</h5>
                  <a class="btn btn-outline-danger btn-block" routerLink="/informes">Ir ahora</a>
                </div>
              </div>
            </div>
          </div>

<br>
<div class="row">
    <div class="col-sm-12 col-md-3">
            <h3 class="text-title">Género</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Hembra
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Macho
                    </label>
                  </div>
        <br>
            <h3 class="text-title">Talla</h3>
            
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Chica
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Mediana
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      Grande
                    </label>
                  </div>
    </div>
    <div class="col-sm-12 col-md-9">
        <div class="row">
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/1.jpg" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Macho </li>
                            <li> Edad: Adulto / Nacimiento: 09/2011 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: Grande </li>
                            <li>Caracter: Sociable </li>
                        </ul>
                    </figcaption>
                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">MATT</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/2.webp" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Hembra </li>
                            <li> Edad: Adulto / Nacimiento: 04/2015 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: MEDIO </li>
                            <li>Caracter: Cariñosa </li>
                        </ul>
                    </figcaption>


                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">STERE</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/10.jpg" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Macho </li>
                            <li> Edad: Adulto / Nacimiento: 02/2018 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: Grande </li>
                            <li>Caracter: Activo </li>
                        </ul>
                    </figcaption>
                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">DEYSI</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/4.jpg" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Macho </li>
                            <li> Edad: Adulto / Nacimiento: 09/2011 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: Grande </li>
                            <li>Caracter: Sociable </li>
                        </ul>
                    </figcaption>
                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">CANGURO</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/5.jpg" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Hembra </li>
                            <li> Edad: Adulto / Nacimiento: 09/2009 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: Medio </li>
                            <li>Caracter: Nervioso </li>
                        </ul>
                    </figcaption>
                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">PELUDA</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/6.jpg" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Macho </li>
                            <li> Edad: Cachorro / Nacimiento: 06/2020 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: Grande </li>
                            <li>Caracter: Juguetón</li>
                        </ul>
                    </figcaption>
                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">TOBI</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">

                    <figure>
                    <img class="card-img-top" src="assets/images/7.jpg" alt="Card image cap">
                    <figcaption>
                        <ul>
                            <li> Sexo: Macho </li>
                            <li> Edad: Cachorro / Nacimiento: 03/2020 </li>
                            <li> Raza: Mestizo </li>
                            <li>Tamaño: Pequeño </li>
                            <li>Caracter: Juguetón</li>
                        </ul>
                    </figcaption>
                    </figure>

                    <div class="card-body">
                      <p class="card-text cnt">MISTER</p>
                      <a class="btn btn-outline-success btn-block" href="#">Adoptar</a>
                      <a href="" class="btn btn-outline-danger btn-block btn-sm">Más detalles</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-6 col-md-3 p-2">
                <div class="card" style="width: 100%;">
                    <img class="card-img-top" >
                    <div class="card-body">
                      <p class="card-text cnt"><button class="btn btn-outline-primary btn-block">Ver más</button></p>
                    </div>
                  </div>
            </div>
        </div>


    </div>
</div>




