/* You can add global styles to this file, and also import other style files */

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#212121;
    color: aliceblue;
    text-align: center;
  }
  .bg-fondo{
    background-color: #ffeb3b;
  }

  .text-title{
    color: orange;
  }

  .cnt{
    text-align: center;
    font-weight: bold;
    color: peru;
  }

  figure {
    position: relative;
    display: inline-block;
}

figcaption {
    display: none;
    position: absolute;
    left: 0;
    bottom: 5px;
    right: 0;
    background-color: rgba(0,0,0,.15);
}

figure:hover img {
    opacity: .7;
}

figure:hover figcaption {
    display: block;
}

.color-title{
  background-color: #00bcd4;
}

.circular {
  border-radius: 50%;
  border:5px solid #666;
}

#bodyAdopted{
  padding-top: 5%;
  padding-bottom: 5%;
}

#adoptedQuestions{
  width: 100%;
  padding-top: 5%;
}

#navp{
  margin-bottom: 5%;
}

/* You can add global styles to this file, and also import other style files */
h5.letrero{
  font-size: 60px;
}

p.mensaje{
font-size: 30px;
}

.imgt{
width: 250px;
height: 250px;
margin-left: 20px;
border-radius: 50%;
padding: 20px;
}

.centerbtn{
  margin-left: 75px;
}

.borde{
  margin-left: 27px;
}

.carrusel{
  width: 200px; 
  height: 450px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fqbtn{
  float: right;

}
.pregunta{
  margin-right: 100px;
}

.galeria{
  width: 437px; 
  height: 250px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.margen{
  margin-left: 25px;
}