
<div class="row justify-content-center">
    <img src="assets/images/schafer-dog-4357790__340.jpg"  width="850" height="250" >
</div>
<div   class="row justify-content-center p-3">
    <div class="container">
    <p class=" bg-warning"align="center">REQUISITOS    
      </p>
      
      <div align="left">
      <p>
      Para adoptar a uno de nuestros perritos tienes que cubrir los
      siguentes requisitos:
      <ul>
        <li>Agendar una cita via telefonica, puedes llamar sin costo al número 018000726282.</li>
        <li>Acordar fecha para entrevista.</li>
        <li>Para la entrevista es necesario asista toda la familia que habita
          en el mismo domicilio.
        </li>
        <li>Presentar documentos de identificación oficial.
        </li>
        <li>Comprobante de domicilio reciente.</li>
        <li>Presentar un donativo(efectivo o en especie), 
          para seguir apoyando a más perritos.
        </li>
        <li>Traer correa y caja para transportar perros de tamaño adecuado.</li>
        <li>Aceptar terminos de cuidados.</li>
       </ul>
       <br><br>
       <p class=" bg-warning"align="center">PROCESO DE ADOPCIÓN 
      </p>
      <div aling="left">
      <p>
        Para poder continuar con el proceso, debes haber cumplido
        con cada uno de los requisitos que se mencionaron anteriormente.
        Una vez entregada la documentación se evaluará que cumpla con las aspectativas  para ser adoptante,
        se te otorgará un documento en el departamento correspondiente, en el cuál se validará la adopción del
        perrito.
        Ahora si puedes llevar a tu nuevo compañero a casa,
        recuerda cuidar y querer mucho a tu nueva mascota.
      </p>
    </div>
      
    </div>
  </div>

</div>

